ORDER_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/order_db"
PAYMENT_DATABASE_URL="postgresql://postgres:postgres@localhost:5434/payment_db"
INVENTORY_DATABASE_URL="postgresql://postgres:postgres@localhost:5435/inventory_db"
NOTIFICATION_DATABASE_URL="postgresql://postgres:postgres@localhost:5436/notification_db"
PORT=3000
